/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color: #b4ed87 ;
    color: #525471;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 5px #f04f4b solid; 
    border-top: 0px;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height:7vw;
    width:7vw;
}
.logo h1{
    font-size: 32px;
}

/* navigation list */

.navbar-links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a{
    color:#525471;
    background-color: #b4ed87 ;
    Padding: 1rem 1.25rem;
    letter-spacing: 0.7px;
    display: inline-block;
}

.navbar-links a:hover, .navbar-links a:focus{
    color: #b4ed87;
    background-color: #525471;
    border:#f04f4b 3px solid;
    border-radius: 15px;
    outline: none;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 90rem) {
    .menu, .fi-br-menu-burger, .checkbox, .cerrar{
        display:none;
    }
}
@media screen and (max-width: 90rem){
    .navbar {
        flex-direction: column;
        .cerrar{
            display: none;
            width: 32px;
        }
        .checkbox:checked ~ .fi-br-menu-burger, .menu{
            display:none;
        }
        .checkbox:checked ~ .cerrar{
            display:flex;
        }
    }
    .navbar-links{
        display:none;
    }
    
    .checkbox, .icons, .cerrar{
        width:30px;
        height: 30px;
        position:absolute;
        top:30px;
        right:28px;
    }
    .icons, .cerrar{
        width: 32px;
        height: 32px;
        pointer-events: none;
    }
    .checkbox{
        opacity: 0;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        padding: 0.5em 0;
        
    }
    .menu li{
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0.5em 0;
        justify-content: center;
    } 
    .menu a{
        color:#525471;
        background-color: #b4ed87 ;
        Padding: 1rem 1.25rem;
        letter-spacing: 0.7px;
        display: inline-block;
        width:250px
    }
    .menu a:hover, .menu a:focus{
        color: #b4ed87;
        background-color: #525471;
        border:#f04f4b 3px solid;
        border-radius: 15px;
        outline: none;
    }
    .checkbox:checked ~ .menu{
        display:block;
    }
    }
    

