body{
    font-family: Oswald;
    background-color: #b4edc6;
    color: #525471;
    font-size: 16pt;
}

h1,h2,h3,h4,h5,h6{
    font-family: Bebas Neue;
    font-size: 35pt;
}

h2,h6 {
    margin: 0.1em;
}

header{
    text-align: center;
}

#hero,footer{
    color: #b4edc6;
    border: 3px solid #525471;
    background-color: #3a46f0;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

#hero img{
    width: 350px;
}

#bio{
    text-align: center;
}

section#hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobby{
    color: #b4edc6;
    border: 3px solid #F04f4d;
    background-color: #3a46f0;
    font-size: 18px;
    padding: 10px;
}

#hobby h2{
    font-family: Bebas Neue;
    font-size: 35pt;
    color: #f04f4d;   
    text-align: center;
}

#gallery img{
    max-width: 100%;
    margin: 0.4em;
}

#lit{
    background-color: #b4ed87;
    margin: 10px;
    border: 3px solid #f04f4d;
    padding: 10px;
}

/*small screens*/

@media screen and (min-width: 60em){
    #gallery figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem; 
    }

    #gallery figure img{
    	width:100%;
    }
    #lit div{
        max-width: 100%;
        columns: 20rem;
    }
}

/*large*/

@media screen and (min-width: 60em){
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }
    #gallery h6{
        grid-column: 1/-1;
    }
    figure{
        display: block;
    }
}